$color-1: hsl(257, 40%, 49%);
$color-2: hsl(300, 69%, 71%);

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: url(../images/bg-desktop.svg), linear-gradient($color-1, $color-1);
  background-repeat: no-repeat;
  background-size: contain;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}
